* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    Nav area
*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 0;
    width: 99vw;
}

.logo {
    height: 75px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.nav-links {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-active {
    transform: translateX(0) !important;
}

.arrows-hidden {
    display: none;
}

/*
    Home section
*/

.home-section {
    text-align: center;
    padding-top: 10%;
    height: 99vh;
    background: #C04848;
    background: -webkit-linear-gradient(to right, #480048, #C04848);
    background: linear-gradient(to right, #480048, #C04848);   
}

.home-image {
    margin: 0 auto;
    width: 50%;
    max-width: 400px;
}

.home-image img {
    width: 100%;
}

.home-name {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
}

.home-name h1 {
    font-size: 80px;
    font-family: "Playfair Display";
    letter-spacing: 7px;
    color:#e1caca;
}

.home-name h3 {
    font-size: 50px;
    margin-top: -20px;
    font-weight: lighter;
}

.arrows-area {
    animation: up-and-down 1.5s alternate-reverse infinite ease-in-out;
    margin-top: 5%;
}

.arrow {
    border: solid rgb(226, 226, 226);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 8px;
    margin: -15px;
    width: 50px;
    height: 50px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*
    Description area
*/

.description-area {
    height: 99vh;
}

@media screen and (max-width: 992px) {
    .nav-links {
        width: 80%;
    }

    .home-section {
        padding-top: 20%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #852349;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
    
    .home-name h3 {
        margin-top: 0;
    }
}

@media only screen and (max-width : 480px) {
    .home-section {
        padding-top: 40%;
    }

    .home-name h1 {
        font-size: 40px;
    }

    .home-name h3 {
        font-size: 30px;
    }

    .arrows-area {
        margin-top: 10%;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes up-and-down {
    100% {
        transform: translateY(-20px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}