@font-face {
    font-family: CenturyGothicBold;
    src: url("assets/CenturyGothicBold.otf") format("opentype");
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

#header {
    background: linear-gradient(to right, #480048, #C04848);
    height: 700px;
    color: white;
}

.navbar-brand {
    width: 50px;
    height: 29px;
    left: 292px;
    margin-top: -30px;
}

.nav-link {
    padding: 12px 28px;
}

.presentation-part {
    padding-top: 100px;
}

nav .navbar-nav li a {
    color: white !important;
}

.get-btn {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    background: none;
    transition: .7s;
    margin-right: 20px;
    margin-top: 20px;
}

.get-btn-dark {
    border: 2px solid black;
    color: black;
}

.get-btn:hover {
    background-color: #C04848;
    color: white;
    border: 2px solid white;
}

.name {
    font-family: 'CenturyGothicBold';
    color: #e1caca;
}

.project-card {
    color: black;
}

.contact-card, .project-card {
    border-radius: 20px;
    overflow: hidden;
}

.card-text {
    height: 150px;
}

.contact-card a {
    color: #a2a8ae;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
}

.nav-link:hover {
    border-bottom: 1px solid white;
}

#experience, #projects {
    background: linear-gradient(to bottom, #C06148, #C04848);
    color: white;
}

.timeline {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.timeline-content {
    background: white;
    color: black;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    border-right: 2px dashed #c4d2e2;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}

.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 31px;
    text-align: right;
    margin-right: 20px;
    color: white;
    font-size: 1.5rem;
}

.timeline-row .timeline-time small {
    display: block;
    font-size: .8rem;
    color: #8796af;
}

.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 3px;
    width: 40px;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -50px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 100;
    background: #ffffff;
    border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 2rem;
    color: #ffffff;
    line-height: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
    margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
    left: -39px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -50px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
    margin-left: 0;
    text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
    right: -39px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 40px;
    outline: none;
    border: 1px #e4d0d5 solid;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 18px;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px rgb(243, 235, 237);
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    border: 0;
    background: rgb(243, 235, 237);
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
}

.contact-content {
    margin-top: -80px;
}

@media (max-width: 767px) {
    .timeline {
        padding: 15px 10px;
    }
    .timeline:after {
        left: 28px;
    }
    .timeline .timeline-row {
        padding-left: 0;
        margin-bottom: 16px;
    }
    .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row .timeline-time strong {
        display: inline-block;
        margin-right: 10px;
    }
    .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0;
    }
    .timeline .timeline-row .timeline-content {
        padding: 15px;
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .timeline .timeline-row .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding-right: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        right: auto;
        left: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
        border-left: inherit;
    }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
        left: 20px;
    }
    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
        left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .margin-t {
        margin-top: 50px;
    }
    img {
        width: 60%;
        margin: auto;
    }
    #header {
        height: 950px;
    }
    .presentation-text {
        text-align: center;
    }
}