* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    Nav area
*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 0;
    width: 99vw;
}

.logo {
    height: 75px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.nav-links {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.nav-links a:hover {
    border-bottom: 1px solid white;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-active {
    transform: translateX(0) !important;
}

.arrows-hidden {
    display: none;
}

/*
    Global css
*/

.section-titles {
    text-align: center;
}

.section-titles span {
    line-height: 30px;
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: 300;
    opacity: 0.2;
    text-transform: uppercase;
    color: black;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
}

.section-titles h1 {
    font-size: 60px;
    margin: auto;
    margin-bottom: 100px;
    text-transform: uppercase;
    width: max-content;
}

/*
    Home section
*/

.home-section {
    text-align: center;
    padding-top: 10%;
    height: 99vh;
    background: linear-gradient(to right, #480048, #C04848);
}

.home-content {
    display: grid;
    grid-template-columns: 2fr;
    padding: 0 200px;
    height: 50vh;
}

.home-image {
    margin: auto;
    width: 100%;
    max-width: 400px;
    grid-column: 3;
    grid-row: 1;
}

.home-image img {
    width: 100%;
}

.home-name {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: start;
    grid-column: 1/2;
    grid-row: 1;
    height: 50%;
    margin: auto;
}

.home-btn {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
}

.home-name h1 {
    font-size: 80px;
    font-family: "Playfair Display";
    letter-spacing: 7px;
    color: #e1caca;
}

.home-name h3 {
    font-size: 50px;
    margin-top: -20px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.arrows-area {
    animation: up-and-down 1.5s alternate-reverse infinite ease-in-out;
    margin-top: 5%;
}

.arrow {
    border: solid rgb(226, 226, 226);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 8px;
    margin: -20px;
    width: 70px;
    height: 70px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*
    Description section
*/

.description-area {
    padding: 100px 200px;
    text-align: center;
    height: fit-content;
    background-color: white;
}

.description-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Poppins';
}

.biography {
    font-weight: lighter;
    text-align: start;
    grid-column: 2/3;
    grid-row: 1;
    padding: 30px;
}

.contact-card {
    text-align: start;
    grid-column: 1;
    grid-row: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 30px;
    border-radius: 20px;
    margin: auto;
}

.table-content {
    padding: 0 25px;
}

.table-ligne-elem {
    font-weight: bolder;
}

.contact-card table {
    margin-bottom: 20px;
}

.social-links {
    display: inline-flex;
    justify-content: space-around;
}

.btn-linkedin {
    background: #0E76A8;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.btn-github {
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    padding: 10px;
    text-decoration: none;
    margin-right: 20px;
}

/*
    Experience section
*/

.experience-area {
    padding: 100px 200px;
    text-align: center;
    height: fit-content;
    background: linear-gradient(to bottom, #C06148, #C04848);
    margin-top: -10px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/*
    Education section
*/

.education-area {
    padding: 100px 200px;
    text-align: center;
    height: fit-content;
    background-color: white;
}

/*
    Projects section
*/

.projects-area {
    padding: 100px 200px;
    text-align: center;
    height: fit-content;
    background-color: white;
}

@media screen and (max-width: 992px) {
    .nav-links {
        width: 80%;
    }
    .home-section {
        padding-top: 20%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #852349;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .home-name h3 {
        margin-top: 0;
    }
}

/*
    Contact section
*/

.contact-section {
    padding: 100px 20px;
    text-align: center;
    height: auto;
    background-color: white;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 40px;
    outline: none;
    border: 1px #e4d0d5 solid;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 18px;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px rgb(243, 235, 237);
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    border: 0;
    background: rgb(243, 235, 237);
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
}

.contact-content {
    margin-top: -80px;
}

@media only screen and (max-width: 480px) {
    .section-titles span {
        font-size: 30px;
        margin-top: -10px;
    }
    .section-titles h1 {
        font-size: 30px;
        margin-top: -45px;
    }
    .home-section {
        padding-top: 40%;
    }
    .home-name h1 {
        font-size: 40px;
    }
    .home-name h3 {
        font-size: 30px;
    }
    .arrows-area {
        margin-top: 10%;
    }
    .form-field input, .form-field select, .contact-form-text {
        margin: 10px auto;
        padding-left: 10px;
        font-size: 14px;
    }
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes up-and-down {
    100% {
        transform: translateY(-20px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}